html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    font-family: 'Arial', sans-serif;
    text-align: center;
    display: flex;

}
/* Sidebar Styles */
.sidebar {
    width: 100%;
    height: 97%;
    color: #fff;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.sidebar div {
	display: flex;
	align-self:center;
    width: 80%;
    padding: 10px;
    text-decoration: none;
    color: black;
    font-size: 18px;
}

.sidebar div:hover {
    cursor: pointer;
    background-color: #ecf0f1;
}
.imgs{
	width: 20%;
	height: 100%;
}